[Desktop Entry]
Name=Lavender-round
X-KDE-PluginInfo-Author=DharamDhurandhar
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Lavender-round
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=https://github.com/rkstrdee/lavender
X-KDE-ServiceTypes=Plasma/LookAndFeel

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1628985,kns://plasma-themes.knsrc/api.kde-look.org/1628987,kns://icons.knsrc/api.kde-look.org/1281798,kns://wallpaper.knsrc/api.kde-look.org/1541309,kns://wallpaper.knsrc/api.kde-look.org/1541305,kns://wallpaper.knsrc/api.kde-look.org/1562665,kns://wallpaper.knsrc/api.kde-look.org/1541302,kns://wallpaper.knsrc/api.kde-look.org/1541308,kns://sddmtheme.knsrc/api.kde-look.org/1214121
